.navbar {
	width: 100%;
	height: 70px;
	background-color: #3a82ff;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
}

.navbar sub{
	color: black;
	font-size: 8px;
	margin-left: -20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.list {
	padding-left: 20px;
}

.display-none { display: none; }

/* dropdown menu */
.dropdown {
	position: relative;
	display: inline-block;
	margin-right: 30px;
  }
  
  .menuIcon {
	cursor: pointer;
	font-size: 30px;
	color: white;
  }
  
  .menu {
	position: absolute;
	top: 100%;
	right: 0;
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	z-index: 1;
	padding: 8px;
	margin-top: 8px;
  }
  
  .menu button {
	border: none;
	outline: none;
	background-color: transparent;
	padding: 4px 8px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	text-align: left;
  }
  
  .menu button:hover {
	background-color: #f2f2f2;
  }

  .divider {
	height: 1px;
	background-color: lightgrey;
	margin: 4px 0;
  }

  .header {
	display: flex;
	flex-direction: row;
  }

  .logo {
	max-width: 40px;
	max-height: 40px;
	margin: 15px 15px;
  }